@font-face {
    font-family: 'Circular Sp UI v3 T';
    src: url('CircularSpUIv3T-Black.eot');
    src: url('CircularSpUIv3T-Black.eot?#iefix') format('embedded-opentype'),
        url('CircularSpUIv3T-Black.woff2') format('woff2'),
        url('CircularSpUIv3T-Black.woff') format('woff'),
        url('CircularSpUIv3T-Black.ttf') format('truetype'),
        url('CircularSpUIv3T-Black.svg#CircularSpUIv3T-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Sp UI v3 T';
    src: url('CircularSpUIv3T-Bold.eot');
    src: url('CircularSpUIv3T-Bold.eot?#iefix') format('embedded-opentype'),
        url('CircularSpUIv3T-Bold.woff2') format('woff2'),
        url('CircularSpUIv3T-Bold.woff') format('woff'),
        url('CircularSpUIv3T-Bold.ttf') format('truetype'),
        url('CircularSpUIv3T-Bold.svg#CircularSpUIv3T-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('9fcec9e815cb385fae7cdcc77f939796.eot');
    src: url('9fcec9e815cb385fae7cdcc77f939796.eot?#iefix') format('embedded-opentype'),
        url('9fcec9e815cb385fae7cdcc77f939796.woff2') format('woff2'),
        url('9fcec9e815cb385fae7cdcc77f939796.woff') format('woff'),
        url('9fcec9e815cb385fae7cdcc77f939796.ttf') format('truetype'),
        url('9fcec9e815cb385fae7cdcc77f939796.svg#') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('d1e02d66f65a8dab87c923942a195ff3.eot');
    src: url('d1e02d66f65a8dab87c923942a195ff3.eot?#iefix') format('embedded-opentype'),
        url('d1e02d66f65a8dab87c923942a195ff3.woff2') format('woff2'),
        url('d1e02d66f65a8dab87c923942a195ff3.woff') format('woff'),
        url('d1e02d66f65a8dab87c923942a195ff3.ttf') format('truetype'),
        url('d1e02d66f65a8dab87c923942a195ff3.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('c291dc1437f7f180bf187a2930a10acd.eot');
    src: url('c291dc1437f7f180bf187a2930a10acd.eot?#iefix') format('embedded-opentype'),
        url('c291dc1437f7f180bf187a2930a10acd.woff2') format('woff2'),
        url('c291dc1437f7f180bf187a2930a10acd.woff') format('woff'),
        url('c291dc1437f7f180bf187a2930a10acd.ttf') format('truetype'),
        url('c291dc1437f7f180bf187a2930a10acd.svg#') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Sp UI v3 T Book';
    src: url('CircularSpUIv3T-Book.eot');
    src: url('CircularSpUIv3T-Book.eot?#iefix') format('embedded-opentype'),
        url('CircularSpUIv3T-Book.woff2') format('woff2'),
        url('CircularSpUIv3T-Book.woff') format('woff'),
        url('CircularSpUIv3T-Book.ttf') format('truetype'),
        url('CircularSpUIv3T-Book.svg#CircularSpUIv3T-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('5dbdb7c5bda2a206ea7ef2eee118dd51.eot');
    src: url('5dbdb7c5bda2a206ea7ef2eee118dd51.eot?#iefix') format('embedded-opentype'),
        url('5dbdb7c5bda2a206ea7ef2eee118dd51.woff2') format('woff2'),
        url('5dbdb7c5bda2a206ea7ef2eee118dd51.woff') format('woff'),
        url('5dbdb7c5bda2a206ea7ef2eee118dd51.ttf') format('truetype'),
        url('5dbdb7c5bda2a206ea7ef2eee118dd51.svg#.') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

